<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的会议</title>


    <link rel="stylesheet" type="text/css" href="../../lib/layui/css/layui.css" />
    <link rel="icon" href="../../images/favicon.ico">
    <style>
        .myMeet-head {
            font-weight:bold;
        }
    </style>
</head>

<body>
    <!-- 导航条 -->
    <div class="layui-header">
        <ul class="layui-nav">
            <li class="layui-nav-item"><a class="" href="index.html"><i class="layui-icon layui-icon-home"></i> 会议室管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <!-- 会议预定 -->
            <li class="layui-nav-item">
                <a class="" href="javascript:;">预定会议</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="meetAdd.html"><i class="layui-icon layui-icon-add-circle"></i> 发起会议</a>
                    </dd>
                    <dd>
                        <a href="meetMy.html"><i class="layui-icon layui-icon-form"></i> 我的会议</a>
                    </dd>
                    <dd>
                        <a href="meetGroup.html"><i class="layui-icon layui-icon-user"></i> 我的小组</a>
                    </dd>
                    <dd>
                        <a href="meetMessage.html"><i class="layui-icon layui-icon-notice"></i> 消息中心</a>
                    </dd>

                    <dd>
                        <a href="meetFile.html"><i class="layui-icon layui-icon-file"></i> 会议文件</a>
                    </dd>
                </dl>
            </li>

            <!-- 个人设置 -->
            <li class="layui-nav-item" id="userInfo">
                <a href="javascript:;">
                    <img src="../../images/face.jpg" class="layui-nav-img userAvatar" width="35" height="35">
                    <cite class="username" id="pName">咚咚咚</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="userInfo.html" class="">
                            <i class="layui-icon layui-icon-tabs"></i><cite>个人资料</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="userChangepwd.html" class="">
                            <i class="layui-icon layui-icon-edit"></i><cite>修改密码</cite>
                        </a>
                    </dd>
                    <dd><a href="../user-login/login.html" class="signOut"><i class=" layui-icon layui-icon-close-fill"></i><cite>退出账号</cite></a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <br>
    <!-- 我的会议 -->
    <div class="layui-container">
        <div class="layui-inline">
            <input type="text" class="layui-input" id="test1" autocomplete="off">
            <br>
        </div>
        <ul class="layui-timeline">
            <div id="content">
                <!-- 填入模板 -->
            </div>
        </ul>
    </div>



    <script src="../../lib/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/art-template/template-web.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/jquery-1.11.1.js" type="text/javascript"></script>
    <script src="../../js/user/jquery.cookies.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/user/common.js" type="text/javascript"></script>
    <script src="../../js/user/headName.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/user/meetMy.js" type="text/javascript"></script>

    <!-- <script src="../test/json.js"></script> -->

    <script id="oneMeeting" type="text/html">
        <div class="layui-row">
                <div class="layui-col-md6" style="padding: 5px; background-color: #F2F2F2;">
                    <div class="layui-card  btnInfoMeet lookMeet" style="cursor:pointer">
                        <div class="layui-card-header">
                            <div class="layui-row myMeet-head">
                                <div class="layui-col-md8">
                                    {{if startTime.hour< 10}}
                                        0{{startTime.hour}}:
                                    {{ else if startTime.hour >= 10}}
                                        {{startTime.hour}}:
                                    {{/if}}
                                    {{if startTime.minute< 10}}
                                        0{{startTime.minute}}
                                    {{ else if startTime.minute >= 10}}
                                        {{startTime.minute}}
                                    {{/if}}
                                    -
                                    {{if endTime.hour< 10}}
                                        0{{endTime.hour}}:
                                    {{ else if endTime.hour >= 10}}
                                        {{endTime.hour}}:
                                    {{/if}}
                                    {{if endTime.minute< 10}}
                                        0{{endTime.minute}}
                                    {{ else if endTime.minute >= 10}}
                                        {{endTime.minute}}
                                    {{/if}}
                                </div>
                                <div class="layui-col-md4">{{meeting.mTitle}}</div>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            {{meeting.mInfo}}
                        </div>
                    </div>
                </div>
            </div>
    </script>
    <script id="meetList" type="text/html">
        <% for(var i = 0; i < data.length; i++){ %>
            <% if (i==0) { %>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">
                            {{data[i].startDate.monthValue}}月
                            {{data[i].startDate.dayOfMonth}}日
                        </h3>
                        <% include('oneMeeting',data[i]) %>
            <% } else {%>
                <% if(data[i-1].startDate.dayOfMonth == data[i].startDate.dayOfMonth) { %>
                    <% include('oneMeeting',data[i]) %>
                <% } else { %>
                    </div>
                </li>
                    <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">
                                    {{data[i].startDate.monthValue}}月
                                    {{data[i].startDate.dayOfMonth}}日
                                </h3>
                                <% include('oneMeeting',data[i]) %>
                <% } %>
            <% } %>
        <% } %>
                            </div>
                        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">仅显示选择日期之后七天</div>
            </div>
        </li>
    </script>
    <script id="noMeet" type="text/html">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">无</h3>
            </div>
        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">仅显示选择日期之后七天</div>
            </div>
        </li>
    </script>
</body>

</html>