<?xml version="1.0" encoding="UTF-8" ?>
<!-- Dept.xml 在com.tarena.entity 包中  -->  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<!-- namespace 的值是 接口
  每个Mapper 接口对应一个配置文件  -->
<mapper namespace="cn.drrs.face_meeting.dao.AnalyseDao">
	<select id="dailyAvilable" 
		parameterType="java.sql.Date"
		resultType="java.util.Map">
		SELECT count_point,(SELECT COUNT(*) FROM Room)-(SELECT COUNT(*) FROM MR_event WHERE startTime&lt;=count_point AND endTime>=count_point AND startDate=#{day}) 
		AS 'avilable_count'FROM time_table;
	</select>
</mapper>