<?xml version="1.0" encoding="UTF-8" ?>
<!-- Dept.xml 在com.tarena.entity 包中  -->  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<!-- namespace 的值是 接口
  每个Mapper 接口对应一个配置文件  -->
<mapper namespace="cn.drrs.face_meeting.dao.GroupDao">


	<insert id="insert" 
		parameterType="cn.drrs.face_meeting.entity.Group">
		insert into `group` values (#{gId},#{gInfo});
	</insert>
	<delete id="delete" 
		parameterType="String">
		delete from `group` where gId = #{gId};
	</delete>
	<update id="update" 
		parameterType="cn.drrs.face_meeting.entity.Group">
		UPDATE `group` set gInfo=#{gInfo} where gId=#{gId};
	</update>
	
	
	<select id="findBygId" 
		parameterType="String"
		resultType="cn.drrs.face_meeting.entity.Group">
		select * from `group` where gId=#{gId};
	</select>
	
	<!-- 表格所需的一些操作 -->
	<!--分页查询数据，根据limit和page进行分页-->
    <select id="getPageofGroup" parameterType="Map" resultType="cn.drrs.face_meeting.entity.Group">
        SELECT *
        FROM  `Group`
        <if test="page!=null and limit!=null">
            limit #{page},#{limit}
        </if>
    </select>
    <!--查询记录总数-->
    <select id="queryGroupCount"  resultType="java.lang.Integer">
        SELECT count(*) FROM  `Group`
    </select>
</mapper>
