<?xml version="1.0" encoding="UTF-8" ?>
<!-- Dept.xml 在com.tarena.entity 包中  -->  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<!-- namespace 的值是 接口
  每个Mapper 接口对应一个配置文件  -->
<mapper namespace="cn.drrs.face_meeting.dao.MeetingDao">
	<resultMap type="cn.drrs.face_meeting.entity.Meeting" id="meetingMap">
		<id column="mNo" property="mNo" />
		<result column="mTitle" property="mTitle" />
		<result column="mInfo" property="mInfo" />
		<result column="mSize" property="mSize" />
		<result column="mSpan" property="mSpan" />
		<result column="tName" property="tName" />
		<result column="pId_FQ" property="pId_FQ" />
		<result column="state" property="state" />
		<result column="mCreateTime" property="mCreateTime" />
		
		<association property="creator" column="mNo"
		    javaType="cn.drrs.face_meeting.entity.Person"
		    select="selectCreator">
		</association>
		
		<collection property="mEventList" column="mNo"
			ofType="cn.drrs.face_meeting.entity.Event"
			javaType="java.util.ArrayList"
			select="selectmEventList">
		</collection>
		<collection property="mAttendList" column="mNo"
			ofType="PersonLight"
			javaType="java.util.ArrayList"
			select="selectmAttendList">
		</collection>
		<collection property="mInformList" column="mNo"
			ofType="cn.drrs.face_meeting.entity.Person"
			javaType="java.util.ArrayList"
			select="selectmInformList">
		</collection>
	</resultMap>
	<resultMap type="cn.drrs.face_meeting.entity.Meeting" id="meetingMap2">
		<id column="mNo" property="mNo" />
		<result column="mTitle" property="mTitle" />
		<result column="mInfo" property="mInfo" />
		<result column="mSize" property="mSize" />
		<result column="mSpan" property="mSpan" />
		<result column="tName" property="tName" />
		<result column="pId_FQ" property="pId_FQ" />
		<result column="state" property="state" />
		<result column="mCreateTime" property="mCreateTime" />
		<association property="creator" column="mNo"
		    javaType="cn.drrs.face_meeting.entity.Person"
		    select="selectCreator">
		</association>
		<collection property="mEventList" column="mNo"
			ofType="cn.drrs.face_meeting.entity.Event">
			<id column="mNo" property="mNo" />
			<id column="rId" property="rId" />
			<result column="startDate" property="startDate" />
			<result column="startTime" property="startTime" />
			<result column="endTime" property="endTime" />
		</collection>
	</resultMap>
	<insert id="save" useGeneratedKeys="true" 
	    keyProperty="mNo" 
	    keyColumn="mNo" 
		parameterType="cn.drrs.face_meeting.entity.Meeting">
		insert into Meeting values(NULL,#{mTitle},#{mInfo},#{mSize},#{mSpan},DEFAULT,#{pId_FQ},'pass',DEFAULT);
	</insert>
	<update id="update" 
		parameterType="cn.drrs.face_meeting.entity.Meeting">
		UPDATE Meeting SET mTitle=#{mTitle},mInfo=#{mInfo},mSize=#{mSize},mSpan=#{mSpan}
			WHERE mNo=#{mNo};
	</update>
	<delete id="deleteBymNo" 
		parameterType="cn.drrs.face_meeting.entity.Meeting">
		delete from Meeting where mNo = #{mNo};
	</delete>
	
	<select id="findBymNo" 
		parameterType="int"
		resultMap="meetingMap2">
		select * from meeting where mNo=#{mNo};
	</select>
	<select id="findFullInfoBymNo" 
		parameterType="int"
		resultMap="meetingMap">
		select * from meeting where mNo=#{mNo};
	</select>
	
	
	
	<select id="findByFields" 
		parameterType="Meeting"
		resultMap="meetingMap2">
		select * from meeting
		<where>
		<if test="mNo>0">and mNo=#{mNo}</if>
		<if test="mTitle!=null">and mTitle like CONCAT('%',#{mTitle},'%')</if>
		<if test="tName!=null">and tName=#{tName}</if>
		<if test="state!=null">and state=#{state}</if>
		</where>
	</select>
	
	<select id="selectCreator" 
		parameterType="int"
		resultType="Person">
		SELECT person.* FROM person JOIN meeting WHERE pId= pId_FQ AND mNo=#{mNo};
	</select>
	<select id="selectmAttendList" 
		parameterType="int"
		resultType="PersonLight">
		select * from person natural join pm_attend where mNo=#{mNo};
	</select>
	<select id="selectmInformList" 
		parameterType="int"
		resultType="Person">
		select person.* from person natural join pm_inform where mNo=#{mNo};
	</select>
	<select id="selectmEventList" 
		parameterType="int"
		resultType="Event">
		select * from mr_event where mNo=#{mNo};
	</select>
	
	<select id="selectMeetingMessage" 
		parameterType="int"
		resultType="Message">
	    SELECT * FROM `message` WHERE mNo = #{mNo} AND `type`='meeting' AND `owner` = `sender`;
	</select>
	<select id="selectAttendanceReport" 
		parameterType="int"
		resultType="Report">
	    SELECT * FROM `message` WHERE mNo = #{mNo} AND `type`='meeting' AND `owner` = `sender`;
	</select>
	
	
	
	
	
	
	<!-- 以下为冗余 -->
	<select id="findByCreator" 
		parameterType="String"
		resultType="cn.drrs.face_meeting.entity.Meeting">
		select * from meeting
			where pId_FQ=#{pId_FQ}
			order by mCreateTime desc;
	</select>
	<select id="findByPM_inform" 
		parameterType="String"
		resultType="cn.drrs.face_meeting.entity.Meeting">
		SELECT meeting.* FROM meeting NATURAL JOIN PM_inform WHERE PM_inform.pId=#{pId};
	</select>
	<select id="findByPM_attend" 
		parameterType="String"
		resultType="cn.drrs.face_meeting.entity.Meeting">
		SELECT meeting.* FROM meeting NATURAL JOIN PM_attend WHERE PM_attend.pId=#{pId};
	</select>
	
</mapper>
