<?xml version="1.0" encoding="UTF-8" ?>
<!-- Dept.xml 在com.tarena.entity 包中  -->  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<!-- namespace 的值是 接口
  每个Mapper 接口对应一个配置文件  -->
<mapper namespace="cn.drrs.face_meeting.dao.MeterMapper">
	<!--批量增加客户信息-->
    <insert id="addBathClient" parameterType="java.util.ArrayList" >
        insert into tb_meter (appId,serviceId,deviceId,gatewayId,status,timestamp)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.appId},#{item.serviceId},#{item.deviceId},#{item.gatewayId},#{item.status},#{item.timestamp})
        </foreach>
    </insert>


    <!--分页查询数据，根据limit和page进行分页-->
    <select id="queryData" parameterType="Map" resultType="cn.drrs.face_meeting.entity.Meter">
        SELECT id,appId,serviceId,deviceId,gatewayId,status,timestamp
        FROM  tb_meter
        <if test="page!=null and limit!=null">
            limit #{page},#{limit}
        </if>
    </select>


    <!--查询记录总数-->
    <select id="queryCount"  resultType="java.lang.Integer">
        SELECT count(*) FROM  tb_meter
    </select>
</mapper>