<?xml version="1.0" encoding="UTF-8" ?>
<!-- Dept.xml 在com.tarena.entity 包中  -->  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<!-- namespace 的值是 接口
  每个Mapper 接口对应一个配置文件  -->
<mapper namespace="cn.drrs.face_meeting.dao.PersonDao">
	<resultMap type="cn.drrs.face_meeting.entity.Person"
		id="personMap">
		<id column="pId" property="pId" />
		<result column="pPass" property="pPass" />
		<result column="pName" property="pName" />
		<result column="pGender" property="pGender" />
		<result column="pRole" property="pRole" />
		<result column="pDept" property="pDept" />
		<result column="pPrivilege" property="pPrivilege" />
		<result column="pFace" property="pFace" jdbcType="BLOB"
			typeHandler="org.apache.ibatis.type.BlobTypeHandler" />
		<result column="pIcon" property="pIcon" jdbcType="BLOB"
			typeHandler="org.apache.ibatis.type.BlobTypeHandler" />
		<result column="pTel" property="pTel" />
		<!-- 万恶之源
		<collection property="pMeetingList" column="pId_FQ"
			ofType="cn.drrs.face_meeting.entity.Meeting"
			javaType="java.util.ArrayList" 
			select="selectHoldMeetingList">
		</collection>
		<collection property="pAttendMeetingList" column="pId"
			ofType="cn.drrs.face_meeting.entity.Meeting"
			javaType="java.util.ArrayList" select="selectAttendMeetingList">
		</collection>
		<collection property="pInformMeetingList" column="pId"
			ofType="cn.drrs.face_meeting.entity.Meeting"
			javaType="java.util.ArrayList" select="selectInformMeetingList">
		</collection>
		 -->
	</resultMap>

	
	
	<!--<select id="findById" 
	parameterType="String" 
	resultType="cn.drrs.face_meeting.entity.Person">
	select * from person where pId=#{pId};
	</select>  -->
	<select id="findFullInfoById" 
	parameterType="String" resultMap="personMap">
	select * from person where pId=#{pId};
	</select>
	<select id="findById" 
	parameterType="String" resultType="Person">
	select * from person where pId=#{pId};
	</select>
	
	<select id="findAll" 
	resultMap="personMap">
	select * from person;
	</select>
	<select id="findByFields" 
	parameterType="Person" resultMap="personMap">
	select * from person
	<where>
	<if test="pName!=null">and pName like #{pName}</if>
	<if test="pGender!=null">and pGender=#{pGender}</if>
	<if test="pRole!=null">and pRole=#{pRole}</if>
	<if test="pDept!=null">and pDept=#{pDept}</if>
	<if test="pPrivilege>0">and pPrivilege=#{pPrivilege}</if>
	</where>
	</select>
	
	<select id="findAllDeptName" 
	 resultType="String">
	SELECT DISTINCT pDept FROM person ;
	</select>
	<!-- 万恶之源
	<select id="selectAttendMeetingList" 
	parameterType="String"  resultMap="cn.drrs.face_meeting.dao.MeetingDao.meetingMap" >
	SELECT  * FROM meeting NATURAL JOIN pm_attend LEFT JOIN MR_event ON(MR_event.`mNo`=MEETING.`mNo`) WHERE pId=#{pId};
	</select>
	<select id="selectInformMeetingList" 
	parameterType="String" resultMap="cn.drrs.face_meeting.dao.MeetingDao.meetingMap">
	SELECT  * FROM meeting NATURAL JOIN pm_inform LEFT JOIN MR_event ON(MR_event.`mNo`=MEETING.`mNo`) WHERE pId=#{pId};
	</select>
	<select id="selectHoldMeetingList" 
	parameterType="String" resultMap="cn.drrs.face_meeting.dao.MeetingDao.meetingMap">
	select meeting.* from meeting LEFT JOIN MR_event ON(MR_event.`mNo`=MEETING.`mNo`) where pId_FQ=#{pId};
	</select>
	
	 -->
	
	
	<update id="update" 
		parameterType="cn.drrs.face_meeting.entity.Person">
		update person
			<set>
			    <if test="pPass!=null">pPass=#{pPass},</if>
			    <if test="pName!=null">pName=#{pName},</if>
			    <if test="pGender!=null">pGender=#{pGender},</if>
			    <if test="pRole!=null">pRole=#{pRole},</if>
			    <if test="pDept!=null">pDept=#{pDept},</if>
			    <if test="pPrivilege!=null">pPrivilege=#{pPrivilege},</if>
			    <if test="pFace!=null">pFace=#{pFace},</if>
			    <if test="pIcon!=null">pIcon=#{pIcon},</if>
			    <if test="pTel!=null">pTel=#{pTel}</if>
			</set>
				where pId=#{pId};
	</update>
	<insert id="insert" parameterType="java.util.ArrayList">
	    insert into `person` values
	    <foreach collection="list" item="p" separator=",">
			(#{p.pId},#{p.pPass},#{p.pName},#{p.pGender},#{p.pRole},#{p.pDept},#{p.pPrivilege},#{p.pFace},#{p.pIcon},#{p.pTel})
		</foreach>
	</insert>
	
	<!-- 表格所需的一些操作 -->
	<!--分页查询数据，根据limit和page进行分页-->
    <select id="getPageofUser" parameterType="Map" resultType="cn.drrs.face_meeting.entity.Person">
        SELECT pId,pName,pGender,pRole,pDept,pPrivilege,pIcon
        FROM  Person
        <if test="page!=null and limit!=null">
            limit #{page},#{limit}
        </if>
    </select>
    <!--查询记录总数-->
    <select id="queryUserCount"  resultType="java.lang.Integer">
        SELECT count(*) FROM  Person
    </select>
	
</mapper>
