<?xml version="1.0" encoding="UTF-8" ?>
<!-- Dept.xml 在com.tarena.entity 包中  -->  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<!-- namespace 的值是 接口
  每个Mapper 接口对应一个配置文件  -->
<mapper namespace="cn.drrs.face_meeting.dao.PMAttendDao">
	<insert id="insert" 
		parameterType="Attend"> 
		insert into pm_attend values (#{pId},#{mNo},#{state});
	</insert>
	<delete id="delete" >
		delete from pm_attend where mNo=#{mNo} and rId = #{rId};
	</delete>
	<delete id="deleteAll" >
		delete from pm_attend where mNo=#{mNo};
	</delete>
	<update id="update" 
		parameterType="Attend">
		update pm_attend set state=#{state} where mNo=#{mNo} and pId=#{pId};
	</update>
	

</mapper>
