<?xml version="1.0" encoding="UTF-8" ?>
<!-- Dept.xml 在com.tarena.entity 包中  -->  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<!-- namespace 的值是 接口
  每个Mapper 接口对应一个配置文件  -->
<mapper namespace="cn.drrs.face_meeting.dao.RoomDao">
	<resultMap type="cn.drrs.face_meeting.entity.Room" id="roomMap">
	<id property= "rId" column="rId"/>
	<result property="rName" column="rName"/>
	<result property="rInfo" column="rInfo"/>
	<result property="rSize" column="rSize"/>
	<result property="tName" column="tName"/>
	<collection property="rEventList" column="rId"
		ofType="cn.drrs.face_meeting.entity.Event"
		javaType="java.util.ArrayList"
		select="selectEvents"
		></collection>
	</resultMap>


	<insert id="insert" 
		parameterType="cn.drrs.face_meeting.entity.Room">
		insert into Room values (#{rId},#{rName},#{rInfo},#{rSize},#{rAddr},#{tName});
	</insert>
	<delete id="deleteByrId" 
		parameterType="String">
		delete from Room where rId = #{rId};
	</delete>
	<update id="update" 
		parameterType="cn.drrs.face_meeting.entity.Room">
		UPDATE Room SET rName=#{rName},rInfo=#{rInfo},rSize=#{rSize},tName=#{tName}
			WHERE rId=#{rId};
	</update>
	
	
	<select id="findByMeetingDateTime" 
		parameterType="cn.drrs.face_meeting.entity.RoomRestrict"
		resultMap="roomMap">
		SELECT * FROM room WHERE room.`rSize`>=#{mSize} AND 
			room.`tName`=#{tName} AND
			rId NOT IN( SELECT rId FROM room NATURAL JOIN mr_event 
			WHERE #{startDate}=startDate AND #{startTime}&lt;endTime AND #{endTime}>startTime);
	</select>
	
	<select id="selectEvents"
			parameterType="String"
			resultMap="cn.drrs.face_meeting.dao.MREventDao.eventMap">
			select * from mr_event where rId=#{rId};
	</select>
	<!--分页查询数据，根据limit和page进行分页-->
    <select id="findRoomByPage" parameterType="Map" resultType="cn.drrs.face_meeting.entity.Room">
        SELECT rId,rName,rInfo,rSize,rAddr,tName
        FROM  Room
        <if test="page!=null and limit!=null">
            limit #{page},#{limit}
        </if>
    </select>
    <!--查询记录总数-->
    <select id="queryRoomCount"  resultType="java.lang.Integer">
        SELECT count(*) FROM  Room
    </select>
</mapper>
